*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    background: linear-gradient(
    to bottom,
    #009688,
    #009688 20%,
    #d4dbd9 20% 100%);
    padding:5vh;
}
main{
    background-color: #f8f9fa;
    margin: 0 auto;
    height: 90vh;
    width: 90%;
}
.mainView{
    display: grid;
    grid-template-columns: 2fr 3fr;
}
.myPanel{
    padding: 10px;
}
.profile, .profileIcons{
    display: flex;
}
.profileIcons{
    justify-content: space-around;
}
.profile{
    justify-content: space-between;
}
.profilePicture img{
    width: 55px;
    border-radius: 27px;

}
.profileIcons img{
    display: block;
    margin-right: 15px;
}