*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    background: linear-gradient(
    to bottom,
    #009688,
    #009688 20%,
    #d4dbd9 20% 100%);
    padding:5vh;
    font-family: sans-serif;
}
main{
    background-color: #f8f9fa;
    margin: 0 auto;
    height: 90vh;
    width: 90%;
}
.mainView{
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 90vh;
}
.left{
    background-color:rgba(237,237,237,255);
}
.myPanel{
    padding: 10px;
}
.profile, .profileIcons{
    display: flex;
}
.profileIcons{
    justify-content: space-around;
}
.profile{
    justify-content: space-between;
}
.profilePicture img{
    width: 55px;
    border-radius: 27px;

}
.profileIcons img{
    display: block;
    margin-right: 15px;
    max-width: 25px;
}
div i{
    position: absolute;
    padding: 0.8em 1em 2em 1em;
}
div input{
    font-size: 1vw;
    padding: 0.7em 13em 1em 3em;
    border-radius: 19px;
    border: none;
}
.chat{
    background-color: #FFFFFF;
    display: flex;
    padding: 5px 10px;
    align-items: center;
}
p span{
    display: block;
}
.outline{
    display: flex;
    align-items: center;
}
.outline img{
    width: 20px;
}
div p{
    font-size: 12px;
}
.writeUp{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}
.phoneConnected{
    text-align: center;
    margin-top: 20%;
    background: #f8f9fa;
}
.phoneConnected h2{
    font-size: 1.5rem;
    color: #333;
    font-weight: 200;
}
.phoneConnected p{
    color: #888;
    margin-top: 1em;
    font-size: 0.9em;
}